**/__pycache__/**
condor/*
datasets/cityscapes/gtFine/*
datasets/cityscapes/leftImg8bit/*
datasets/coco/annotations/*/*
datasets/coco/annotations/coco_train_lvis_*.json
datasets/coco/annotations/coco_val_lvis_*.json
datasets/coco/test2017/*
datasets/coco/train2017/*
datasets/coco/val2017/*
datasets/lvis/annotations/*.json
outputs/*
plots/*/*
slurm/*
test/*
.vscode
